"config"
{
	"ent_hero_model"
	{
		"Normal" 	"npc_dota_hero_treant"
		"Jail" 		"npc_custom_hero_jail"
	}

	"infernal_hero_model"
	{
		"Green" "npc_custom_hero_infernal_green"
		"Blue"  "npc_custom_hero_infernal_blue"
		"Red"   "npc_custom_hero_infernal_red"
	}

	"ent_spawn_items"
	{
		"item_build_scout_tower" ""
	}

	"particle_build"
	{
		"gold_house" 			"particles/econ/items/effigies/status_fx_effigies/base_statue_destruction_gold_lvl2.vpcf"
		"gold_house_upgrade" 	"particles/econ/events/league_teleport_2014/teleport_end_league.vpcf"

		"magic_tree" "particles/econ/events/league_teleport_2014/teleport_end_volume_magic_league.vpcf"

		"base_build" 			"particles/econ/items/effigies/status_fx_effigies/base_statue_destruction_gold_dire.vpcf"
		"base_rope"   			"particles/basic_rope/basic_rope.vpcf"
		"capture_points" 		"particles/customgames/capturepoints/cp_fire.vpcf"
		"construction_building_1" "particles/econ/events/fall_major_2015/teleport_start_fallmjr_2015_counter.vpcf"
		"construction_building_2" "particles/econ/events/fall_major_2015/teleport_start_fallmjr_2015_lvl2.vpcf"
	}

	"particle_kill"
	{
		"doublekill" "particles/econ/events/killbanners/screen_killbanner_compendium14_doublekill.vpcf"
		"triplekill" "particles/econ/events/killbanners/screen_killbanner_compendium16_triplekill.vpcf"
		"multikill" "particles/econ/events/killbanners/screen_killbanner_compendium16_multikill_generic.vpcf"
		"rampage" "particles/econ/events/killbanners/screen_killbanner_compendium16_rampage.vpcf"
	}
}
